:root {
  --primary-color: #e7eff3;
  --secondary-color: #1a2639;
  --tertiary-color: #992e24;
  --color-four: #8ea6b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--primary-color);
  /* border: 1px black solid; */
}

.navbar {
  padding: 0 50px 0 15px;
  background-color: var(--color-four);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  color: var(--tertiary-color);
  background-color: var(--color-four);
  font-size: 60px;
}

.navbar span {
  background-color: var(--color-four);
  color: var(--secondary-color);
}

.navbar ul {
  background-color: var(--color-four);
  justify-content: space-between;
  gap: 20px;
}

.logo {
  background-color: var(--color-four);
  display: flex;
  align-items: center;
}

.logo img {
  background-color: var(--color-four);
  height: 130px;
  width: 130px;
}


.login {
  margin: 25px 0 0 35px;
  padding: 25px 0 100px 25px;
  width: 25%;
  font-family: Cantarell;
  background: var(--color-four);
  border: 1px;
  border-radius: 15px;
  position: relative;
}

.login h1 {
  text-align: center;
  background: var(--color-four);
}

.email {
  margin: 15px 0 20px 20px;
  width: 75%;
  background: var(--color-four);
  position: relative;
}

.email label {
  background: var(--color-four);
  left: 0;
}

.emailInput {
  width: 75%;
  position: absolute;
  right: 0px;
}

.password {
  margin: 50px 0 5px 20px;
  width: 75%;
  background: var(--color-four);
  position: relative;
}

.password label {
  background: var(--color-four);
}

.passwordInput {
  width: 75%;
  position: absolute;
  right: 0;
}

.login button {
  margin-left: 15px;
}

.loginbtns {
  background: var(--color-four);
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.signup {
  margin: 25px 0 0 35px;
  padding: 25px 0 100px 5%;
  width: 25%;
  font-family: Cantarell;
  background: var(--color-four);
  border: 1px;
  border-radius: 15px;
  position: relative;
}

.signup h1 {
  width: 75%;
  text-align: center;
  background: var(--color-four);
}

.signup form {
  background: var(--color-four);
  width: 75%;
  align-items: center;
}

.text_area {
  background: var(--color-four);
}

.signup input {
  display: flex;
  margin: 5px;
  padding: 10px;
  width: 97%;
}

.signup .btn {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
  padding: px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 5px;
  position: absolute;
  right: 95px;
}

.signup button {
  margin-top: 45px;
  position: absolute;
  right: 95px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.barn {
  margin-left: 8%;
  padding: 25px 0 25px 0;
  font-family: Cantarell;
  width: 75%;
}

.barn h1 {
  font-size: 40px;
  border-width: 10px;
}

.myBarn {
  padding: 15px;
  background: var(--tertiary-color);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* background:
    linear-gradient(135deg, transparent 45px, var(--tertiary-color) 0) top left,
    linear-gradient(-135deg, transparent 45px, var(--tertiary-color) 0) top right,; */
  }

.post {
  display: flex;
  margin-top: 15px;
  gap: 1rem;
  justify-content: center;
}

.textbox {
  width: 50%;
}

.posts textarea {
  border: none;
  width: 100%;
  pointer-events: none;
}

.textbox textarea {
  width: 100%;
  height: 100%;
}

.feed {
  margin-top: 35px;
  margin-bottom: 35px;
}

.stallNav {
  width: 25%;
  position: sticky fixed;
  top: 0px;
  margin: 25px 15px 0 0;
  background: var(--color-four);
  padding: 50px 0 20% 50px;
  border: 1px;
  border-radius: 10%;
}

.stallNav h2 {
  background-color: var(--color-four);
  width: 50%;
}

.stallNav div {
  background-color: var(--color-four);
  width: 50%;
}

button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-decoration: none;
  border: none;
  padding: 7px 20px;
  font-size: 16px;
  border-radius: 10px;
}

button:hover {
  background-color: var(--tertiary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}